<template>
  <div class="navbar bg-light shadow">
    <div>
      <span class="text-dark font-weight-bold mr-5" style="font-size: 20px"
        >User Panel</span
      >
      <router-link
        :class="
          this.$route.name == 'User Dashboard' ? 'btn-dark' : 'btn-outline-dark'
        "
        class="btn btn-sm rounded-pill"
        :to="{ name: 'User Dashboard' }"
        >Dashboard</router-link
      >
      <router-link
        :class="
          this.$route.name == 'User Information'
            ? 'btn-dark'
            : 'btn-outline-dark'
        "
        class="btn btn-sm rounded-pill"
        :to="{ name: 'User Information' }"
        >Informations</router-link
      >
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <span class="text-dark mr-3">{{ `${user.user_info.first_name} ${user.user_info.last_name}` }}</span>
      <b-button variant="danger" v-on:click="logout">Logout</b-button>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters["user/GET_USER"];
    },
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch("user/LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/user/login");
      }
    },
  },
};
</script>

<style>
</style>