<template>
  <div>
    <h1 class="mt-3 ml-3">User Accounts</h1>
    <div
      class="d-flex flex-column justify-content-center align-items-center mt-5"
    >
      <div class="w-75 d-flex justify-content-between align-items-center mb-3">
        <p>List of Users</p>

        <div class="d-flex justify-content-center align-items-center">
          <span class="mr-2">Filter by</span>
          <b-form-select v-model="status" class="col-md-6">
            <!-- This slot appears above the options from 'options' prop -->
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- Please select an option --</b-form-select-option
              >
            </template>

            <!-- These options will appear after the ones from 'options' prop -->
            <b-form-select-option value="PENDING">Pending</b-form-select-option>
            <b-form-select-option value="APPROVED"
              >Accepted</b-form-select-option
            >
            <b-form-select-option value="DECLINED"
              >Declined</b-form-select-option
            >
          </b-form-select>
        </div>
      </div>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="col-md-2">#</th>
            <th class="col-md-6">Name</th>
            <th class="col-md-4 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <div v-if="!loaded" class="d-flex align-items-center mt-3 mb-3">
            <strong>Fetching data...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
          <tr v-else v-for="user in users" :key="user.id">
            <th scope="row">{{ user.id }}</th>
            <td>
              {{
                `${user.user_info.last_name}, ${user.user_info.first_name} ${user.user_info.middle_name}`
              }}
            </td>
            <td class="text-center">
              <b-button
                v-if="user.user_account.status == 'PENDING'"
                size="sm"
                variant="success"
                @click="
                  $bvModal.show('modal-1');
                  id = user.user_account_id;
                "
                >Accept</b-button
              >
              <b-button
                v-if="user.user_account.status == 'PENDING'"
                size="sm"
                variant="danger"
                @click="
                  $bvModal.show('modal-2');
                  id = user.user_account_id;
                "
                >Decline</b-button
              >
            </td>
          </tr>
        </tbody>
      </table>

      <b-modal id="modal-1" title="Accept User" centered @ok="acceptAccount"
        >Are you sure you want to accept this user?</b-modal
      >

      <b-modal id="modal-2" title="Decline User" centered @ok="declineAccount"
        >Are you sure you want to decline this user?</b-modal
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: "",
      loaded: false,
      status: "PENDING",
    };
  },
  computed: {
    users() {
      return this.$store.getters["admin/GET_USER_ACCOUNTS"].filter((user) => {
        return user.user_account.status == this.status;
      });
    },
  },
  methods: {
    async acceptAccount() {
      const response = await this.$store.dispatch(
        "admin/APPROVE_ACCOUNT",
        this.id
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.loaded = false;
        await this.$store.dispatch("admin/USER_ACCOUNTS");
        this.loaded = true;
      } else {
        this.$toast.error("Something wrong. Please try again");
      }
    },
    async declineAccount() {
      const response = await this.$store.dispatch(
        "admin/DECLINE_ACCOUNT",
        this.id
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.loaded = false;
        await this.$store.dispatch("admin/USER_ACCOUNTS");
        this.loaded = true;
      } else {
        this.$toast.error("Something wrong. Please try again");
      }
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("admin/CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push({ name: "Admin Login" });
    }
    this.loaded = false;
    await this.$store.dispatch("admin/USER_ACCOUNTS");
    this.loaded = true;
  },
};
</script>

<style scoped>
table {
  width: 80% !important;
}
</style>