<template>
  <div>
    <h1 class="mt-3 ml-3">Dashboard</h1>
    <div class="d-flex">
      <b-card class="shadow count-card bd-callout-green p-5 mt-3 mx-3">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <div>
            <h1 v-if="loaded">{{ totalUsers }}</h1>
            <b-spinner
              v-else
              style="width: 3rem; height: 3rem"
              label="Large Spinner"
              variant="success"
            ></b-spinner>
          </div>
          <h6 class="mt-3">User(s)</h6>
        </div>
      </b-card>
      <b-card class="shadow count-card bd-callout-yellow p-5 mt-3 mx-3">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <div>
            <h1 v-if="loaded">{{ totalInformations }}</h1>
            <b-spinner
              v-else
              style="width: 3rem; height: 3rem"
              label="Large Spinner"
              variant="warning"
            ></b-spinner>
          </div>
          <h6 class="mt-3">Information(s)</h6>
        </div>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
    };
  },
  computed: {
    totalUsers() {
      return this.$store.getters["admin/GET_TOTAL_USER"];
    },
    totalInformations() {
      return this.$store.getters["admin/GET_TOTAL_INFORMATION"];
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("admin/CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push({ name: "Admin Login" });
    }

    this.loaded = false;
    await this.$store.dispatch("admin/USER_COUNT");
    await this.$store.dispatch("admin/INFORMATION_COUNT");
    this.loaded = true;
  },
};
</script>

<style scoped>
.count-card {
  width: 200px !important;
  height: 200px !important;
}

.bd-callout-green {
  border-left-color: #17a55e !important;
}

.bd-callout-yellow {
  border-left-color: #e6da39 !important;
}

.bd-callout-green,
.bd-callout-yellow {
  border-left-width: 0.5em !important;
}
</style>