<template>
  <div>
    <navbar></navbar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  components: {
    Navbar: () => import("../../components/Admin/Navbar.vue"),
  },
 
};
</script>

<style>
</style>