<template>
  <div>
    <h1 class="mt-3 ml-3">Informations</h1>
    <div
      class="d-flex flex-column justify-content-center align-items-center mt-5"
    >
      <div class="w-75 d-flex justify-content-between align-items-center mb-3">
        <p>List of Informations</p>

        <div class="d-flex justify-content-center align-items-center">
          <span class="mr-2">Filter by</span>
          <b-form-select v-model="status" class="col-md-6">
            <!-- This slot appears above the options from 'options' prop -->
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- Please select an option --</b-form-select-option
              >
            </template>

            <!-- These options will appear after the ones from 'options' prop -->
            <b-form-select-option :value="0">Unblock</b-form-select-option>
            <b-form-select-option :value="1">Blocked</b-form-select-option>
          </b-form-select>
        </div>
      </div>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="col-md-2">#</th>
            <th class="col-md-4">Title</th>
            <th class="col-md-2">Author</th>
            <th class="col-md-4 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <div v-if="!loaded" class="d-flex align-items-center mt-3 mb-3">
            <strong>Fetching data...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
          <tr v-else v-for="information in informations" :key="information.id">
            <th scope="row">{{ information.id }}</th>
            <td>
              {{ information.title }}
            </td>
            <td>
              {{
                `${information.user.user_info.first_name}, ${information.user.user_info.middle_name} ${information.user.user_info.last_name}`
              }}
            </td>
            <td class="text-center">
              <b-button
                size="sm"
                variant="primary"
                @click="viewInfo(information)"
                >Show Info</b-button
              >
              <b-button
                v-if="information.blocked == 1"
                size="sm"
                variant="warning"
                @click="
                  $bvModal.show('modal-2');
                  id = information.id;
                "
                >Unblock</b-button
              >
              <b-button
                v-if="information.blocked == 0"
                size="sm"
                variant="danger"
                @click="
                  $bvModal.show('modal-1');
                  id = information.id;
                "
                >Block</b-button
              >
            </td>
          </tr>
        </tbody>
      </table>

      <b-modal
        id="modal-1"
        title="Block Information"
        centered
        @ok="blockInformation"
        >Are you sure you want to block this information?</b-modal
      >

      <b-modal
        id="modal-2"
        title="Unblock Information"
        centered
        @ok="unblockInformation"
        >Are you sure you want to unblock this information?</b-modal
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      status: 0,
      loaded: false,
      id: "",
    };
  },
  computed: {
    informations() {
      return this.$store.getters["admin/GET_INFORMATIONS"].filter(
        (information) => {
          return information.blocked.toString() == this.status;
        }
      );
    },
  },

  methods: {
    viewInfo(information) {
      this.$router.push({
        name: "Info",
        params: { slug: information.slug },
      });
    },
    async unblockInformation() {
      const response = await this.$store.dispatch(
        "admin/UNBLOCK_INFORMATION",
        this.id
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.loaded = false;
        await this.$store.dispatch("admin/INFORMATIONS");
        this.loaded = true;
      } else {
        this.$toast.error("Something wrong. Please try again");
      }
    },
    async blockInformation() {
      const response = await this.$store.dispatch(
        "admin/BLOCK_INFORMATION",
        this.id
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.loaded = false;
        await this.$store.dispatch("admin/INFORMATIONS");
        this.loaded = true;
      } else {
        this.$toast.error("Something wrong. Please try again");
      }
    },
  },

  async mounted() {
    const res = await this.$store.dispatch("admin/CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push({ name: "Admin Login" });
    }

    this.loaded = false;
    await this.$store.dispatch("admin/INFORMATIONS");
    this.loaded = true;
  },
};
</script>

<style scoped>
table {
  width: 80% !important;
}
</style>