<template>
  <div
    class="
      login
      container-fluid
      d-flex
      justify-content-center
      align-items-center
    "
  >
    <div class="login-container shadow p-3">
      <h3 class="my-3">Admin Login</h3>
      <b-form @submit.prevent="login">
        <b-form-group
          id="input-group-1"
          label="Username"
          label-for="input-1"
          description="Enter your username."
        >
          <b-form-input
            id="input-1"
            v-model="account.username"
            type="text"
            placeholder="Enter Username"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          label="Password"
          label-for="input-2"
          description="Enter your password."
        >
          <b-form-input
            id="input-2"
            v-model="account.password"
            type="password"
            placeholder="Enter Password"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="success">Login</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      account: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    async login() {
      if (this.account.username == "" && this.account.password == "") {
        return this.$toast.error("Please input your username and password.");
      } else {
        const response = await this.$store.dispatch(
          "admin/LOGIN",
          this.account
        );

        if (response.status == 200) {
          this.$toast.success("Successfully logged in.");
          this.$router.push({ name: "Admin Dashboard" });
        } else {
          return this.$toast.error("Invalid credentials.");
        }
      }
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("admin/CHECK");
    if (res.status == 200) {
      this.$router.push({ name: "Admin Dashboard" });
    }
  },
};
</script>

<style scoped>
.login {
  width: 100%;
  height: 100vh;
}

.login-container {
  width: 300px !important;
  height: 23rem !important;
}
</style>