<template>
  <div class="home">
    <div class="nav d-flex justify-content-between align-items-center px-3">
      <p class="text-muted">Information System</p>
      <router-link :to="{ name: 'User Login' }" class="nav-link"
        >Login</router-link
      >
    </div>
    <div class="container-main pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 col-md-8 col-lg-9">
            <div class="row d-flex align-items-stretch justify-content-center">
              <div
                class="col-11 col-md-6 col-lg-4 mt-4 d-flex align-items-stretch"
                v-for="information in informations"
                :key="information.id"
              >
                <router-link
                  class="card-link"
                  :to="{ name: 'Info', params: { slug: information.slug } }"
                >
                  <div class="card">
                    <img
                      :src="
                        'http://127.0.0.1:8000/uploads/' +
                        information.featured_image
                      "
                      class="card-img-top"
                      alt="..."
                      width="100"
                    />
                    <div class="card-body">
                      <h5 class="card-title mb-1">{{ information.title }}</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">
                        {{ info.category.category }}
                      </h6> -->
                    </div>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
    };
  },
  async mounted() {
    await this.$store.dispatch("main/INFORMATIONS");
  },
  methods: {},
  computed: {
    informations() {
      return this.$store.getters["main/GET_INFORMATIONS"];
    },
  },
};
</script>

<style scoped>
.card-link {
  text-decoration: none;
  color: #000;
}

.card {
  transition: all 250ms;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 3px 10px rgba(80, 128, 134, 0.199);
}

.card:hover(:not()) {
  transform: scale(0.9);
}

.card-link:hover {
  color: #000;
}

.nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 999;
  box-shadow: 0px 3px 10px #617f8338;
}

.nav p {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: "Anton", sans-serif;
}

.container-main {
  margin-top: 130px;
  height: 100%;
  background-color: #f7f7f7;
}
</style>
