<template>
  <div>
    <h1 class="mt-3 ml-3">Informations</h1>
    <div
      class="d-flex flex-column justify-content-center align-items-center mt-5"
    >
      <div class="w-75 d-flex justify-content-between align-items-center mb-3">
        <p>List of Informations</p>

        <div class="d-flex justify-content-center align-items-center">
          <span class="mr-2">Filter by</span>
          <b-form-select v-model="status" class="col-md-6">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- Please select an option --</b-form-select-option
              >
            </template>
            <b-form-select-option value="">All</b-form-select-option>
            <b-form-select-option value="0">Unblock</b-form-select-option>
            <b-form-select-option value="1">Blocked</b-form-select-option>
          </b-form-select>
        </div>
        <b-button
          size="sm"
          variant="success"
          @click="
            $bvModal.show('modal-1');
            id = information.id;
          "
          >New Information</b-button
        >
      </div>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="col-md-2">#</th>
            <th class="col-md-4">Title</th>
            <th class="col-md-2">Info</th>
            <th class="col-md-4 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <div v-if="!loaded" class="d-flex align-items-center mt-3 mb-3">
            <strong>Fetching data...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
          <tr v-else v-for="information in informations" :key="information.id">
            <th scope="row">{{ information.id }}</th>
            <td>
              {{ information.title }}
            </td>
            <td>
              <b-button
                size="sm"
                variant="primary"
                @click="viewInfo(information)"
                >Show</b-button
              >
            </td>
            <td class="text-center">
              <b-button
                size="sm"
                variant="warning"
                @click="
                  $bvModal.show('modal-2');
                  showEdit(information);
                "
                >Edit</b-button
              >
              <b-button
                size="sm"
                variant="danger"
                @click="
                  $bvModal.show('modal-3');
                  id = information.id;
                "
                >Delete</b-button
              >
            </td>
          </tr>
        </tbody>
      </table>

      <b-modal
        id="modal-1"
        centered
        size="xl"
        ok-title="Save"
        scrollable
        @ok.prevent="saveInformation"
        ><div class="container-fluid">
          <h3 class="text-primary">New Information</h3>
          <h5 class="text-muted">All fields is required</h5>
          <div class="row">
            <div class="col-4 p-3">
              <b-form-group
                id="input-group-1"
                label="Title"
                label-for="input-1"
                description="Enter the title of your information."
              >
                <b-form-input
                  id="input-1"
                  v-model="information.title"
                  type="text"
                  placeholder="Title"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-2"
                label="Image"
                label-for="input-2"
              >
                <VueFileAgent
                  ref="vueFileAgent"
                  :theme="'list'"
                  :multiple="false"
                  :deletable="true"
                  :meta="true"
                  :accept="'image/*,'"
                  :maxSize="'10MB'"
                  :maxFiles="1"
                  :helpText="'Choose images'"
                  :errorText="{
                    type: 'Invalid file type. Only images Allowed',
                    size: 'Files should not exceed 10MB in size',
                  }"
                  @select="filesSelected($event)"
                  @beforedelete="onBeforeDelete($event)"
                  @delete="fileDeleted($event)"
                  v-model="fileRecords"
                ></VueFileAgent>
              </b-form-group>

              <b-form-group
                id="input-group-3"
                label="Tag"
                label-for="input-3"
                description="Choose Tag"
              >
                <b-form-checkbox-group
                  id="checkbox-group-2"
                  v-model="information.tags"
                  name="information-tag"
                  class="row"
                >
                  <b-form-checkbox
                    class="col-4 mx-3"
                    :value="tag.id"
                    v-for="tag in tagList"
                    :key="tag.id"
                  >
                    {{ tag.name }}</b-form-checkbox
                  ></b-form-checkbox-group
                >
              </b-form-group>
            </div>
            <div class="col-8 p-3">
              <b-form-group
                id="input-group-2"
                label="Content"
                label-for="input-2"
              >
                <vue-editor v-model="information.content" />
              </b-form-group>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal
        id="modal-2"
        centered
        size="xl"
        ok-title="Update"
        scrollable
        @ok.prevent="updateInformation"
        ><div class="container-fluid">
          <h3 class="text-primary">Update Information</h3>
          <h5 class="text-muted">All fields is required</h5>
          <div class="row">
            <div class="col-4 p-3">
              <b-form-group
                id="input-group-1"
                label="Title"
                label-for="input-1"
                description="Enter the title of your information."
              >
                <b-form-input
                  id="input-1"
                  v-model="information.title"
                  type="text"
                  placeholder="Title"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-2"
                label="Image"
                label-for="input-2"
              >
                <VueFileAgent
                  ref="vueFileAgent"
                  :theme="'list'"
                  :multiple="false"
                  :deletable="true"
                  :meta="true"
                  :accept="'image/*,'"
                  :maxSize="'10MB'"
                  :maxFiles="1"
                  :helpText="'Choose images'"
                  :errorText="{
                    type: 'Invalid file type. Only images Allowed',
                    size: 'Files should not exceed 10MB in size',
                  }"
                  @select="filesSelected($event)"
                  @beforedelete="onBeforeDelete($event)"
                  @delete="fileDeleted($event)"
                  v-model="fileRecords"
                ></VueFileAgent>
              </b-form-group>

              <b-form-group
                id="input-group-3"
                label="Tag"
                label-for="input-3"
                description="Choose Tag"
              >
                <b-form-checkbox-group
                  id="checkbox-group-2"
                  v-model="information.tags"
                  name="information-tag"
                  class="row"
                >
                  <b-form-checkbox
                    class="col-4 mx-3"
                    :value="tag.id"
                    v-for="tag in tagList"
                    :key="tag.id"
                  >
                    {{ tag.name }}</b-form-checkbox
                  ></b-form-checkbox-group
                >
              </b-form-group>
            </div>
            <div class="col-8 p-3">
              <b-form-group
                id="input-group-2"
                label="Content"
                label-for="input-2"
              >
                <vue-editor v-model="information.content" />
              </b-form-group>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal
        id="modal-3"
        title="Delete Information"
        centered
        ok-variant="danger"
        @ok="deleteInformation"
        >Are you sure you want to delete this information?</b-modal
      >
    </div>
  </div>
</template>

<script>
// Basic Use - Covers most scenarios
import { VueEditor } from "vue2-editor";

export default {
  data() {
    return {
      status: "",
      loaded: false,
      id: "",
      information: {
        title: "",
        content: "",
        featured_image: "",
        tags: [],
      },

      fileRecords: [],
      fileRecordsForUpload: [], // maintain an upload queue
    };
  },
  components: { VueEditor },
  computed: {
    tagList() {
      return this.$store.getters["user/GET_TAGS"];
    },
    informations() {
      return this.$store.getters["user/GET_INFORMATIONS"].filter(
        (information) => {
          if (this.status == "") {
            return (
              information.blocked.toString() == "0" ||
              information.blocked.toString() == "1"
            );
          }
          return information.blocked.toString() == this.status;
        }
      );
    },
  },
  methods: {
    deleteUploadedFile: function (fileRecord) {
      // Using the default uploader. You may use another uploader instead.
      this.$refs.vueFileAgent.deleteUpload(
        this.uploadUrl,
        this.uploadHeaders,
        fileRecord
      );
    },
    filesSelected: function (fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload =
        this.fileRecordsForUpload.concat(validFileRecords);
    },
    onBeforeDelete: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      } else {
        if (confirm("Are you sure you want to delete?")) {
          this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        }
      }
    },
    fileDeleted: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    },
    showEdit(information) {
      this.id = information.id;
      this.information = { ...information };
    },
    viewInfo(information) {
      this.$router.push({
        name: "Info",
        params: { slug: information.slug },
      });
    },
    async saveInformation() {
      if (this.information.title == "")
        return this.$toast.error("Title is required");
      if (this.information.content == "")
        return this.$toast.error("Content is required");
      if (this.information.tags == [])
        return this.$toast.error("Tag is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");

      const res = await this.$refs.vueFileAgent.upload(
        `http://localhost:8000/api/uploadFeaturedImage?token=` +
          localStorage.getItem("access_token"),
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      this.information.featured_image = res[0].data;

      const response = await this.$store.dispatch(
        "user/STORE",
        this.information
      );
      if (response.status == 200) {
        this.$toast.success("Information saved.");
        this.$bvModal.hide("modal-1");
        this.loaded = false;
        await this.$store.dispatch("user/INFORMATIONS");
        this.loaded = true;

        this.information = {
          title: "",
          content: "",
          featured_image: "",
          tags: [],
        };
      }
    },

    async updateInformation() {
      if (this.information.title == "")
        return this.$toast.error("Title is required");
      if (this.information.content == "")
        return this.$toast.error("Content is required");
      if (this.information.tags == [])
        return this.$toast.error("Tag is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");

      const res = await this.$refs.vueFileAgent.upload(
        `http://localhost:8000/api/uploadFeaturedImage?token=` +
          localStorage.getItem("access_token"),
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      await this.$store.dispatch(
        "user/DELETE_IMAGE",
        this.information.featured_image
      );

      this.information.featured_image = res[0].data;

      const response = await this.$store.dispatch("user/UPDATE", {
        id: this.id,
        information: this.information,
      });
      if (response.status == 200) {
        this.$toast.success("Information updated.");
        this.$bvModal.hide("modal-2");
        this.loaded = false;
        await this.$store.dispatch("user/INFORMATIONS");
        this.loaded = true;

        this.information = {
          title: "",
          content: "",
          featured_image: "",
          tags: [],
        };
      }
    },
    async deleteInformation() {
      const response = await this.$store.dispatch("user/DESTROY", this.id);
      if (response.status == 200) {
        this.$toast.success("Information deleted.");
        this.$bvModal.hide("modal-3");
        this.loaded = false;
        await this.$store.dispatch("user/INFORMATIONS");
        this.loaded = true;
      }
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("user/CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push({ name: "User Login" });
    }

    this.loaded = false;
    await this.$store.dispatch("user/INFORMATIONS");
    await this.$store.dispatch("user/TAGS");
    this.loaded = true;
  },
};
</script>
<style scoped>
table {
  width: 80% !important;
}

@import "~vue2-editor/dist/vue2-editor.css";
</style>