<template>
  <div
    class="
      register
      container-fluid
      d-flex
      justify-content-center
      align-items-center
    "
  >
    <div class="register-container shadow p-3">
      <h3 class="my-3">Register</h3>
      <p class="text-muted">Register your account to access our system</p>
      <b-form @submit.prevent="register">
        <div class="row">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Username"
              label-for="input-1"
              description="Enter your username."
            >
              <b-form-input
                id="input-1"
                v-model="account.username"
                type="text"
                placeholder="Ex. johndoe1"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Password"
              label-for="input-2"
              description="Enter your password."
            >
              <b-form-input
                id="input-2"
                v-model="account.password"
                type="password"
                placeholder="Enter passwod"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-3"
              label="First Name"
              label-for="input-3"
              description="Enter your first name."
            >
              <b-form-input
                id="input-3"
                v-model="account.first_name"
                type="text"
                placeholder="Ex. John"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-4"
              label="Middle Name"
              label-for="input-4"
              description="Enter your middle name."
            >
              <b-form-input
                id="input-4"
                v-model="account.middle_name"
                type="text"
                placeholder="Ex. Boy"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-5"
              label="Last Name"
              label-for="input-5"
              description="Enter your last name."
            >
              <b-form-input
                id="input-5"
                v-model="account.last_name"
                type="text"
                placeholder="Ex. Doe"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <b-button type="submit" variant="success">Register</b-button>

          <div class="ml-3 d-flex align-items-center">
            <span>or</span>
            <router-link class="nav-link" :to="{ name: 'User Login' }"
              >Login</router-link
            >
          </div>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      account: {
        username: "",
        password: "",
        first_name: "",
        middle_name: "",
        last_name: "",
      },
    };
  },
  methods: {
    async register() {
      if (this.account.username == "")
        return this.$toast.error("Username is required.");
      if (this.account.password == "")
        return this.$toast.error("Password is required.");
      if (this.account.first_name == "")
        return this.$toast.error("First Name is required.");
      if (this.account.middle_name == "")
        return this.$toast.error("Middle Name is required.");
      if (this.account.last_name == "")
        return this.$toast.error("Last Name is required.");

      const response = await this.$store.dispatch(
        "user/REGISTER",
        this.account
      );

      if (response.status == 200) {
        this.$toast.success(
          "Your registration is pending. Wait for admin's Aprroval"
        );
        this.$router.push({ name: "User Login" });
      }
      
      this.account = {
        username: "",
        password: "",
        first_name: "",
        middle_name: "",
        last_name: "",
      };
    },
  },
};
</script>

<style scoped>
.register {
  width: 100%;
  height: 100vh;
}

.register-container {
  width: 600px !important;
  height: 32rem !important;
}
</style>