<template>
  <div class="navbar bg-primary shadow">
    <div>
      <span class="text-light mr-5" style="font-size: 20px">Admin Panel</span>
      <router-link
        :class="this.$route.name == 'Admin Dashboard' ? 'btn-light' : 'btn-outline-light'"
        class="btn btn-sm rounded-pill"
        :to="{ name: 'Admin Dashboard' }"
        >Dashboard</router-link
      >
      <router-link
       :class="this.$route.name == 'Admin Account' ? 'btn-light' : 'btn-outline-light'"
        class="btn btn-sm rounded-pill"
        :to="{ name: 'Admin Account' }"
        >Accounts</router-link
      >
      <router-link
        :class="this.$route.name == 'Admin Information' ? 'btn-light' : 'btn-outline-light'"
        class="btn btn-sm rounded-pill"
        :to="{ name: 'Admin Information' }"
        >Informations</router-link
      >
    </div>

    <b-button variant="danger" v-on:click="logout">Logout</b-button>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters["admin/GET_USER"];
    },
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch("admin/LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/admin/login");
      }
    },
  },
};
</script>

<style>
</style>